<nb-card size="large">
    <nb-card-header>

        <input nbInput
               ngControl="soundSearch"
               id="soundSearch"
               type="text"
               placeholder="suchen..."
               class="form-control"
               required
               minlength="1"
               name="soundSearch"
               [(ngModel)]="filterargs.fileName" />

    </nb-card-header>

    <nb-card-body>

        <button nbButton
                status="primary"
                size="small"
                (click)="playSound(s)"
                class="sound-item"
                [ngClass]="{'active': s.active === true }"
                *ngFor="let s of sounds | searchfilter:filterargs | orderBy: order.mode : order.reverse : true">
            <i class="far far fa-play-circle"></i>&nbsp;{{s.fileName | slice:0:30}}
        </button>

        <!-- <pre>{{sounds | json}}</pre> -->
    </nb-card-body>

    <nb-card-footer>

        <nb-select placeholder="Select Showcase"
                   size="tiny"
                   shape="round"
                   [(selected)]="order"
                   style="width: 33%;">
            <nb-option *ngFor="let m of orderModes"
                       [value]="m">{{m.displayName}}</nb-option>
        </nb-select>

        <span class="kill-all"
              (click)="killAllSounds()">Kill</span>

    </nb-card-footer>

</nb-card>