@import '../../../../@theme/styles/themes';

@include nb-install-component() {

    .sound-item {
        margin: 5px;
        overflow: hidden;
        font-weight: bold;
        text-transform: none;
        font-size: 0.9em;
        box-shadow: #ccc 1px 1px 1px;
    }

}
