@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    @-o-keyframes fadeIt {
        0% {
          box-shadow: #f00 1px 1px 7px;
        }

        100% {
          box-shadow: #666 1px 1px 7px;
        }
    }

    @keyframes fadeIt {
        0% {
          box-shadow: #f00 1px 1px 7px;
        }

        100% {
          box-shadow: #666 1px 1px 7px;
        }
    }

    .active {
        -o-animation: fadeIt 5s ease-in-out;
        animation: fadeIt 5s ease-in-out;
    }

    .sound-item {
        margin: 5px;
        overflow: hidden;
        font-weight: bold;
        text-transform: none;
        font-size: 0.9em;
        box-shadow: #666 1px 1px 7px;
    }

    .kill-all {
        color: transparent;
        float: right;
        cursor: default;
    }

    @include media-breakpoint-down(md) {

        .sound-item {
            width: 100%;
            margin: 5px;
            overflow: hidden;
            font-weight: bold;
            text-transform: none;
            font-size: 0.9em;
            box-shadow: #ccc 1px 1px 1px;
        }

    }

}
