@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    .alert-content {
        display: flex;
        align-items: center;

        .icon {
            display: inline-block;
            flex-grow: 0;
            display: flex;
            padding-right: 2em;
        }

        .message {

            display: inline-block;
            flex-grow: 1;

            .header {
                font-weight: bold;
            }

            .text {}

        }

    }
}