<form #updateForm="ngForm"
      class="form update-component">

    <br><br>

    <div class="row no-margins">

        <!--Upload-->
        <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">

            <div class="form-group"
                 *ngIf="!uploading">
                <label for="recordingMinimumInterval">Softwareupdate einspielen</label>
                <input class="form-control"
                       #file                       
                       type="file"
                       (change)="fileAdded(file.files)" />
            </div>

            <br>

            <nb-progress-bar *ngIf="uploading"
                             [value]="progress"> {{progress}} %</nb-progress-bar>
            <br>
        </div>
    </div>
</form>