// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

        menu-item-icon-margin: 0 0.5rem 0 0,

        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,

        select-min-width: 6rem,

        slide-out-background: #f7f9fc,
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    ), default, default);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

        menu-item-icon-margin: 0 0.5rem 0 0,

        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,

        select-min-width: 6rem,

        slide-out-background: #252547,
        slide-out-shadow-color: 2px 0 3px #29157a,
        slide-out-shadow-color-rtl: -2px 0 3px #29157a,
    ), cosmic, cosmic);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

        menu-item-icon-margin: 0 0.5rem 0 0,

        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,

        select-min-width: 6rem,

        slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    ), corporate, corporate);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

        menu-item-icon-margin: 0 0.5rem 0 0,

        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,

        select-min-width: 6rem,

        slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    ), dark, dark);

$nb-themes: nb-register-theme((color-basic-100: #ffffff,
        color-basic-200: #f7f8fa,
        color-basic-300: #edf0f4,
        color-basic-400: #dde1eb,
        color-basic-500: #c8cedb,
        color-basic-600: #a7b0c1,
        color-basic-700: #657084,
        color-basic-800: #2e384f,
        color-basic-900: #232a40,
        color-basic-1000: #1a1f33,
        color-basic-1100: #131729,

        background-basic-color-1: color-basic-100,
        background-basic-color-2: color-basic-200,
        background-basic-color-3: color-basic-100,
        background-basic-color-4: color-basic-400,

        color-primary-100: #f2f6ff,
        color-primary-200: #d9e4ff,
        color-primary-300: #a6c1ff,
        color-primary-400: #575a5c,
        color-primary-500: #3C3F42,
        color-primary-600: #274bdb,
        color-primary-700: #1a34b8,
        color-primary-800: #102694,
        color-primary-900: #091c7a,

        color-primary-focus: color-primary-700,
        color-primary-hover: color-primary-400,
        color-primary-default: color-primary-500,
        color-primary-active: color-primary-600,
        color-primary-disabled: color-primary-300,

        color-fg-text: #252729,

        font-family-primary: unquote('"Open Sans Light", sans-serif'),
        font-family-secondary: font-family-primary,

        layout-text-color: #252729,
        layout-background-color: #fff,
        layout-window-shadow: rgba(0, 0, 0, 0),
        layout-window-mode-padding-top: 4.75rem,
        layout-padding-top: 3rem,

        card-background-color: rgba(0, 0, 0, 0),
        card-shadow: rgba(0, 0, 0, 0),
        card-border-radius: 0,
        card-header-border-color: #ccc,
        card-header-text-color: #fff,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,

        menu-background-color: #3C3F42,
        menu-text-color: #fff,

        menu-item-active-text-color: #fff,
        menu-item-active-background-color: #3C3F42,
        menu-item-icon-color: #fff,
        menu-item-icon-active-color: #DD0800,
        menu-item-icon-width: 2.2rem,
        menu-item-separator: #3C3F42,
        menu-item-icon-margin: 0 0.5rem 0 0,
        menu-item-divider-width: 0px,

        sidebar-menu-item-highlight-color: #40dc7e,
        sidebar-header-height: 10.0rem,
        sidebar-background-color:#3C3F42,
        sidebar-text-color: #fff,
        sidebar-shadow:0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1),

        footer-background-color: #3C3F42,
        footer-text-color: #fff,

        tabset-tab-active-underline-color: #40dc7e,

        alert-text-font-weight: 400,

        //select-min-width: 6rem,

        slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

        header-height: 3.75rem,
        header-padding: 1.25rem), nervbox, default);