@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    
    ::ng-deep ul.pagination {
        padding-left: 0px;
    }

    ::ng-deep .page-item {
        &.active {
            .page-link {
                border-color: #fff;
            }

        }

        .page-link {
            border-color: #32383e;
            color: #ffffff;
            background-color: #4e4e4e;

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
            }

        }
    }

}
