<div class="system-log-component">

    <br><br>

    <div *ngIf="loading"
         class="loading-overlay">
        <h1 class="loading-text">Loading...</h1>
    </div>

    <div class="row no-margins">

        <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-12">
            <ngb-pagination *ngIf="totalCount > pager.maxSize"
                            [collectionSize]="totalCount"
                            [(page)]="pager.currentPage"
                            [maxSize]="pager.maxSize"
                            [rotate]="true"
                            [pageSize]="pager.pageSize"
                            (pageChange)="pageChanged()"
                            [boundaryLinks]="true">
            </ngb-pagination>
        </div>
        
    </div>

    <div class="row no-margins">

        <div class="col-xxxl-12">
            <div class="table-responsive">

                <table class="table table-sm table-striped table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Datum</th>
                            <th scope="col">LogLevel</th>
                            <th scope="col">Source</th>
                            <th scope="col">Text</th>
                        </tr>

                    </thead>
                    <tbody *ngIf="currentPageRecords?.length > 0">
                        <tr *ngFor="let record of currentPageRecords">
                            <th scope="row">
                                <!--<span class="value-cell">{{record.time | date:'yyyy-MM-dd HH:mm:ss'}}</span>-->
                                <span class="value-cell">{{ momentToLocal(record.timestamp) | date:'yyyy-MM-dd HH:mm:ss'}}</span>

                            </th>

                            <td>
                                <span class="value-cell">{{record.level}}</span>
                            </td>

                            <td>
                                <span class="value-cell">{{record.properties.SourceContext.value}}</span>
                            </td>

                            <td>
                                <span class="value-cell">{{record.messageTemplate.text}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <pre>{{pager | json}}</pre> -->
<!-- <pre>{{currentPageRecords | json}}</pre> -->
<!-- <pre>{{logs | json}}</pre> -->