<form #settingForm="ngForm"
      class="form">
    <div class="row single-setting">

        <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3 col-sm-3">
            {{settingEdit.key}}
            <!-- <pre>{{setting | json}}</pre> -->
        </div>

        <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3 col-sm-3">
            {{settingEdit.settingType}}
        </div>

        <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3 col-sm-3">

            <div [ngSwitch]="settingEdit.settingType">

                <div *ngSwitchCase="'String'">
                    <input ngControl="value"
                           id="value"
                           type="text"
                           placeholder=""
                           class="form-control"
                           name="value"
                           [(ngModel)]="settingEdit.value" />
                </div>

                <div *ngSwitchCase="'Boolean'">

                    <div class="btn-group-toggle">
                        <label class="btn-primary"
                               ngbButtonLabel>
                            <span>
                                <i *ngIf="settingEdit.value=='false'"
                                   class="fa fa-2x fa-square"></i>
                                <i *ngIf="settingEdit.value=='true'"
                                   class="fa fa-2x fa-check-square"></i>
                            </span>
                            <input ngControl="value"
                                   type="checkbox"
                                   id="value"
                                   name="value"
                                   valueChecked="true"
                                   valueUnChecked="false"
                                   ngbButton
                                   [(ngModel)]="settingEdit.value">
                        </label>
                    </div>

                </div>

                <div *ngSwitchCase="'Int'">
                    <input ngControl="value"
                           id="value"
                           type="string"
                           pattern="[-+]?\d*"
                           placeholder=""
                           class="form-control"
                           name="value"                           
                           [(ngModel)]="settingEdit.value" />
                </div>

                <div *ngSwitchCase="'Double'">
                    <input ngControl="value"
                           id="value"
                           type="string"
                           pattern="[-+]?\d*(.\d(\d*)?)?"
                           placeholder=""
                           class="form-control"
                           name="value"
                           [(ngModel)]="settingEdit.value" />
                </div>

                <div *ngSwitchCase="'JSON'">
                    <textarea ngControl="value"
                              class="form-control"
                              id="value"
                              placeholder="Json"
                              name="value"
                              [(ngModel)]="settingEdit.value"></textarea>
                </div>

                <div *ngSwitchDefault>Type editor not implemented</div>
            </div>
        </div>

        <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3 col-sm-3">
            <span *ngIf="settingForm.dirty && settingForm.valid"
                  class="fa fa-2x fa-check"
                  (click)=updateSetting()></span>&nbsp;
            <span *ngIf="settingForm.dirty"
                  class="fa fa-2x fa-times"
                  (click)=revertChanges()></span>
        </div>

    </div>
</form>