@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    @include media-breakpoint-down(sm) {}

    @include media-breakpoint-down(is) {
        ::ng-deep nb-card.large-card {
            height: nb-theme(card-height-medium);
        }
    }

    .options {

        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        flex-wrap: wrap;
        
        .dropdown {
            min-width: 230px;

            &.left{
            }

            &.right{

            }

        }

    }

}