<nb-card size="large">

    <nb-card-header>
        <div class="text">
            Aktueller Verlauf
        </div>
    </nb-card-header>

    <nb-card-body>

        <div class="options">

            <div class="dropdown"
                 *ngIf="metricMode !== null">
                <div class="form-group">
                    <nb-select [(selected)]="metricMode"
                               style="min-width: 100%;">
                        <nb-option *ngFor="let m of metricModes"
                                   [value]="m">{{m.displayName}}
                        </nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="dropdown"
                 *ngIf="queryRange !== null">
                <div class="form-group">
                    <nb-select [(selected)]="queryRange"
                               style="min-width: 100%;">
                        <nb-option *ngFor="let r of queryRanges"
                                   [value]="r">{{r.name}}
                        </nb-option>
                    </nb-select>
                </div>
            </div>
        </div>

        <simple-chart *ngIf="metricMode != null"                      
                      [queryRange]="queryRange"
                      [metricMode]="metricMode"></simple-chart>

    </nb-card-body>

</nb-card>