<nb-card style="width: 400px;">

    <form [formGroup]="resetForm"
          class="form reset-form"
          (ngSubmit)="submit()">

        <nb-card-header>
            <div class="text">
                {{title}}
            </div>
        </nb-card-header>

        <nb-card-body>
            {{message}}

            <ng-container *ngIf="inputRequired === true">

                <br><br>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': f.name.errors }"
                           placeholder="Name"
                           formControlName="name">
                    <div *ngIf="f['name'].errors"
                         class="invalid-feedback">
                        <div *ngIf="f['name'].errors.required">Name wird benötigt</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment">Kommentar</label>
                    <input type="text"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': f.comment.errors }"
                           placeholder="Kommentar"
                           formControlName="comment">
                    <div *ngIf="f['comment'].errors"
                         class="invalid-feedback">
                        <div *ngIf="f['comment'].errors.required">Kommentar wird benötigt</div>
                    </div>
                </div>
            </ng-container>

        </nb-card-body>

        <nb-card-footer>
            <button nbButton
                    hero
                    status="default"
                    (click)="cancel()">Abbrechen</button>

            <button *ngIf="inputRequired"
                    nbButton
                    hero
                    [disabled]="!resetForm.valid"
                    type="submit"
                    status="success">Ok</button>

            <button *ngIf="!inputRequired"
                    nbButton
                    hero
                    type="submit"
                    status="success">Ok</button>

        </nb-card-footer>

    </form>

</nb-card>