<nb-card style="width: 400px;">
    <nb-card-header>Wifi Netz wählen</nb-card-header>
    <nb-card-body [nbSpinner]="!networks"
                  [nbSpinnerMessage]="'Scanne - Bitte warten'"
                  [nbSpinnerStatus]="'success'">

        <nb-select *ngIf="networks"
                   placeholder="Netzwerk wählen"
                   [(ngModel)]="selected">
            <nb-option class="wifi-network"
                       *ngFor="let network of networks"
                       [value]="network">{{network.essid ? network.essid : '[HIDDEN]'}}<br />
                <span class="wifi-network-details">Kanal: {{network.channel}}, Signalstärke: {{network.quality * 100 | number:'1.0-0'}} %</span>
            </nb-option>
        </nb-select>

    </nb-card-body>
    <nb-card-footer>
        <button nbButton
                hero
                status="danger"
                (click)="cancel()">Abbrechen</button>
        <button nbButton
                hero
                status="success"
                (click)="submit()">Ok</button>
    </nb-card-footer>
</nb-card>