@import '../../../@theme/styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    ::ng-deep .form {
        display: flex;
        flex-direction: column;

        .text-label {
            margin-top: 1.5rem;
        }
    }

    button {
        margin: 1rem;
    }

    ::ng-deep nb-card-header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: #EAF0F4;
    }

    ::ng-deep nb-card-body {
        background-color: #EAF0F4;
    }


    ::ng-deep nb-card-footer {
        background-color: #EAF0F4;
    }

}