<nb-card style="width: 400px;">
    <nb-card-header>
        <div class="text">
            {{title}}
        </div>
    </nb-card-header>

    <nb-card-body>
        <div style="width: 100%; height: 2em;"
             [nbSpinner]="!rebootFinished"
             [nbSpinnerMessage]="message"
             [nbSpinnerStatus]="'success'">
        </div>

        <div style="padding: 0.5em;">
            {{hint}}
        </div>
    </nb-card-body>

    <nb-card-footer>

    </nb-card-footer>
</nb-card>