<nb-card size="large">
    <nb-card-header>
        Pizzacam
    </nb-card-header>

    <nb-card-body>
        <img class="cam-image"
             *ngIf="imageUrl !== null"
             [src]="imageUrl">


        <div class="cam-controls">

            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    <button style="width: 100%;"
                            nbButton
                            (click)="move('up')"
                            shape="semi-round"
                            status="secondary"
                            size="tiny">Up</button>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2">
                    <button style="width: 100%;"
                            nbButton
                            (click)="move('left')"
                            shape="semi-round"
                            status="secondary"
                            size="tiny">Left</button>
                </div>
                <div class="col-2">
                  <button style="width: 100%;"
                  nbButton
                  (click)="move('stop')"
                  shape="semi-round"
                  status="secondary"
                  size="tiny">Stop</button>

                </div>
                <div class="col-2">
                    <button style="width: 100%;"
                            nbButton
                            (click)="move('right')"
                            shape="semi-round"
                            status="secondary"
                            size="tiny">Right</button>
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    <button style="width: 100%;"
                            nbButton
                            (click)="move('down')"
                            shape="semi-round"
                            status="secondary"
                            size="tiny">Down</button> </div>
                <div class="col-2"></div>
            </div>



        </div>

    </nb-card-body>

</nb-card>
