@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    @include media-breakpoint-down(sm) {}

    @include media-breakpoint-down(is) {
        ::ng-deep nb-card.large-card {
            height: nb-theme(card-height-medium);
        }
    }

    .cam-image{
      width: 100%;
    }

    .cam-controls{
      button{
        margin: 1em;
      }
    }

}
