<nb-card-header>
  <div class="header-container">
    <div class="icon">
      <i class="ion-information"></i>
    </div>
    <span class="title">Informationen Prüfadapter</span>
  </div>
</nb-card-header>
<nb-card-body>

  <table class="table">
    <tr>
      <td> Zyklen </td>
      <td> 5555 </td>
    </tr>

    <tr>
      <td> Version </td>
      <td> a </td>
    </tr>

    <tr>
      <td> Revision </td>
      <td> b </td>
    </tr>

    <tr>
      <td> Serienummer </td>
      <td> 4711 </td>
    </tr>

    <tr>
      <td> Artikelnummer </td>
      <td> 0815 </td>
    </tr>

    <tr>
      <td> Herstelldatum </td>
      <td> 2018-10-22 </td>
    </tr>

    <tr>
        <td> Status Seriell </td>
        <td> TODO </td>
      </tr>    

  </table>

</nb-card-body>