<form #lanSettingsForm="ngForm"
      *ngIf="networkSettings !== null"
      class="form network-settings-component">

    <br><br>

    <div class="row no-margins">

        <!--Lan Options-->
        <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-12">

            <h4>LAN-Schnittstelle</h4>

            <hr>

            <!-- Lan Details-->
            <div *ngIf="networkSettings.lanMode === 'On'">

                <div class="form-group">

                    <label for="lan_dhcp">Dynamische IP Adresse beziehen (DHCP)</label>
                    <select class="form-control"
                            [(ngModel)]="networkSettings.lanSettings.dhcp"
                            id="lan_dhcp"
                            name="lan_dhcp">
                        <option [ngValue]="true">Ja (DHCP)</option>
                        <option [ngValue]="false">Nein (Statisch)</option>
                    </select>
                </div>

                <!-- static ip options -->
                <div *ngIf="networkSettings.lanSettings.dhcp===false">

                    <h5>Statische IP Einstellungen</h5>

                    <div class="form-group">
                        <label for="lan_ip">Statische LAN IP</label>
                        <input type="text"
                               class="form-control"
                               id="lan_ip"
                               name="lan_ip"
                               required
                               placeholder="Enter ip"
                               [(ngModel)]="networkSettings.lanSettings.ip">
                    </div>

                    <div class="form-group">
                        <label for="lan_subnetMask">Subnetzmaske</label>
                        <input type="text"
                               class="form-control"
                               id="lan_subnetMask"
                               name="lan_subnetMask"
                               required
                               placeholder="Enter subnetmask"
                               [(ngModel)]="networkSettings.lanSettings.subnetMask">
                    </div>

                    <div class="form-group">
                        <label for="lan_gateway">Gateway / Router</label>
                        <input type="text"
                               class="form-control"
                               id="lan_gateway"
                               name="lan_gateway"
                               placeholder="Enter gateway"
                               [(ngModel)]="networkSettings.lanSettings.gateway">
                    </div>

                    <div class="form-group">
                        <label for="lan_dns0">DNS Server 1</label>
                        <input type="text"
                               class="form-control"
                               id="lan_dns0"
                               name="lan_dns0"
                               placeholder="Enter dns1"
                               [(ngModel)]="networkSettings.lanSettings.dns0">
                    </div>

                    <div class="form-group">
                        <label for="lan_dns1">DNS Server 2</label>
                        <input type="text"
                               class="form-control"
                               id="lan_dns1"
                               name="lan_dns1"
                               placeholder="Enter dns2"
                               [(ngModel)]="networkSettings.lanSettings.dns1">
                    </div>
                </div>
            </div>

            <h5>Zeitserver (NTP)</h5>

            <div class="form-group">
                <label for="ntp">NTP Server für Zeitsynchronisation</label>
                <input type="text"
                       class="form-control"
                       id="ntp"
                       name="ntp"
                       placeholder="Enter IP(s) or DNS name(s) of reachable NTP servers"
                       [(ngModel)]="networkSettings.ntpSettings.ntp">

                <div style="margin-left: 50px; margin-top: 10px; color: #888; font-size: 0.9rem">
                    Mehrere Zeitserver können mit Leerzeichen getrennt angegeben werden.<br>
                    [Default] = Leer --> Verwende System-Defaults (benötigt Internetverbindung)
                </div>
            </div>
        </div>

        <!--Wifi Options-->
        <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-12">

            <h4>WLAN-Schnittstelle</h4>

            <hr>

            <div class="form-group">

                <label for="wifiMode">WLAN Modus</label>
                <select class="form-control"
                        [(ngModel)]="networkSettings.wifiMode"
                        id="wifiMode"
                        name="wifiMode">
                    <option [ngValue]="'Off'">Aus</option>
                    <option [ngValue]="'Client'">WLAN-Teilnehmer</option>
                    <option [ngValue]="'AccessPoint'">WLAN-AccessPoint</option>
                </select>
            </div>

            <!-- Wifi Client Details-->
            <div *ngIf="networkSettings.wifiMode === 'Client'">

                <h5>WLAN Zugangsdaten</h5>

                <div class="form-group">
                    <label for="wifi_ssid">SSID</label>

                    <div class="input-group mb-6">
                        <input type="text"
                               class="form-control"
                               id="wifi_ssid"
                               name="wifi_ssid"
                               required
                               placeholder="Enter wifi ssid"
                               [(ngModel)]="networkSettings.wifiSettings.ssid">

                        <div class="input-group-append">
                            <button (click)="pickWifi()"
                                    nbButton><i class="fas fa-wifi"></i>&nbsp;scannen...</button>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="wifi_psk">Kennwort (PSK)</label>
                    <input type="text"
                           class="form-control"
                           id="wifi_psk"
                           name="wifi_psk"
                           required
                           placeholder="Enter wifi password"
                           [(ngModel)]="networkSettings.wifiSettings.psk">
                </div>

                <div class="form-group">

                    <label for="wifi_dhcp">Dynamische IP Adresse beziehen (DHCP)</label>
                    <select class="form-control"
                            [(ngModel)]="networkSettings.wifiSettings.dhcp"
                            id="wifi_dhcp"
                            name="wifi_dhcp">
                        <option [ngValue]="true">Ja (DHCP)</option>
                        <option [ngValue]="false">Nein (Statisch)</option>
                    </select>
                </div>

                <!-- static ip options -->
                <div *ngIf="networkSettings.wifiSettings.dhcp===false">

                    <h5>Statische IP Einstellungen</h5>

                    <div class="form-group">
                        <label for="wifi_ip">Statische WLAN IP</label>
                        <input type="text"
                               class="form-control"
                               id="wifi_ip"
                               name="wifi_ip"
                               required
                               placeholder="Enter wifi ip"
                               [(ngModel)]="networkSettings.wifiSettings.ip">
                    </div>

                    <div class="form-group">
                        <label for="wifi_subnetMask">Subnetzmaske</label>
                        <input type="text"
                               class="form-control"
                               id="wifi_subnetMask"
                               name="wifi_subnetMask"
                               required
                               placeholder="Enter wifi subnetmask"
                               [(ngModel)]="networkSettings.wifiSettings.subnetMask">
                    </div>

                    <div class="form-group">
                        <label for="wifi_gateway">Gateway / Router</label>
                        <input type="text"
                               class="form-control"
                               id="wifi_gateway"
                               name="wifi_gateway"
                               placeholder="Enter wifi gateway"
                               [(ngModel)]="networkSettings.wifiSettings.gateway">
                    </div>

                    <div class="form-group">
                        <label for="wifi_dns0">DNS Server 1</label>
                        <input type="text"
                               class="form-control"
                               id="wifi_dns0"
                               name="wifi_dns0"
                               placeholder="Enter wifi dns1"
                               [(ngModel)]="networkSettings.wifiSettings.dns0">
                    </div>

                    <div class="form-group">
                        <label for="wifi_dns1">DNS Server 2</label>
                        <input type="text"
                               class="form-control"
                               id="wifi_dns1"
                               name="wifi_dns1"
                               placeholder="Enter wifi dns2"
                               [(ngModel)]="networkSettings.wifiSettings.dns1">
                    </div>

                </div>

            </div>

            <!-- Wifi Access Point Details-->
            <div *ngIf="networkSettings.wifiMode === 'AccessPoint'">

                <h5>Access Point Einstellungen</h5>

                <div class="form-group">
                    <label for="ap_ssid">SSID</label>
                    <input type="text"
                           class="form-control"
                           id="ap_ssid"
                           name="ap_ssid"
                           required
                           placeholder="Enter wifi ssid"
                           [(ngModel)]="networkSettings.accessPointSettings.ssid">
                </div>

                <div class="form-group">
                    <label for="ap_psk">Kennwort</label>
                    <input type="text"
                           class="form-control"
                           id="ap_psk"
                           name="ap_psk"
                           minlength="8"
                           required
                           placeholder="Enter wifi password"
                           [(ngModel)]="networkSettings.accessPointSettings.psk">
                </div>

                <div class="form-group">
                    <label for="ap_channel">Kanal</label>
                    <input type="number"
                           class="form-control"
                           id="ap_channel"
                           name="ap_channel"
                           min="1"
                           max="13"
                           required
                           placeholder="Enter access point channel"
                           [(ngModel)]="networkSettings.accessPointSettings.channel">
                </div>

                <!-- static ip options -->

                <div class="form-group">
                    <label for="ap_ip">Access Point IP</label>
                    <input type="text"
                           class="form-control"
                           id="ap_ip"
                           name="ap_ip"
                           required
                           placeholder="Enter access point ip"
                           [(ngModel)]="networkSettings.accessPointSettings.ip">
                </div>

                <div class="form-group">
                    <label for="ap_subnetMask">Access Point Subnetzmaske</label>
                    <input type="text"
                           class="form-control"
                           id="ap_subnetMask"
                           name="ap_subnetMask"
                           required
                           placeholder="Enter access point subnetmask"
                           [(ngModel)]="networkSettings.accessPointSettings.subnetMask">
                </div>

                <h5>DHCP Server Einstellungen</h5>

                <!-- <div class="form-group">
                    <label for="ap_dhcp">DHCP Server</label>
                    <div class="btn-group-toggle">
                        <label class="btn-primary"
                               ngbButtonLabel>
                            <span>
                                <i *ngIf="networkSettings.accessPointSettings.dhcp===false"
                                   class="fa fa-2x fa-square"></i>
                                <i *ngIf="networkSettings.accessPointSettings.dhcp===true"
                                   class="fa fa-2x fa-check-square"></i>
                            </span>
                            <input ngControl="value"
                                   type="checkbox"
                                   id="ap_dhcp"
                                   name="ap_dhcp"
                                   disabled=true
                                   ngbButton
                                   [(ngModel)]="networkSettings.accessPointSettings.dhcp">
                        </label>
                    </div>
                </div> -->

                <div class="form-group">

                    <label for="ap_dhcp">DHCP Server</label>
                    <select class="form-control"
                            [(ngModel)]="networkSettings.accessPointSettings.dhcp"
                            id="ap_dhcp"
                            name="ap_dhcp">
                        <option [ngValue]="true">Ja</option>
                        <option [ngValue]="false">Nein</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="ap_rangeStart">DHCP Vergabebereich Start</label>
                    <input type="text"
                           class="form-control"
                           id="ap_rangeStart"
                           name="ap_rangeStart"
                           required
                           placeholder="Enter access DHCP range start"
                           [(ngModel)]="networkSettings.accessPointSettings.rangeStart">
                </div>

                <div class="form-group">
                    <label for="ap_rangeEnd">DHCP Vergabebereich Ende</label>
                    <input type="text"
                           class="form-control"
                           id="ap_rangeEnd"
                           name="ap_rangeEnd"
                           required
                           placeholder="Enter access DHCP range end"
                           [(ngModel)]="networkSettings.accessPointSettings.rangeEnd">
                </div>

                <div class="form-group">
                    <label for="ap_leaseHours">Client IP Lease Dauer (Stunden)</label>
                    <input type="number"
                           class="form-control"
                           id="ap_leaseHours"
                           name="ap_leaseHours"
                           required
                           placeholder="Enter access point lease time in hours"
                           [(ngModel)]="networkSettings.accessPointSettings.leaseHours">
                </div>

            </div>
        </div>
    </div>

    <!-- Save Button -->
    <div class="row no-margins">
        <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">

            <button [disabled]="!(lanSettingsForm.dirty && lanSettingsForm.valid)"
                    type="submit"
                    class="btn btn-primary"
                    (click)=saveAndApplyNetworkSettings()>Speichern & Anwenden </button>
        </div>
    </div>

</form>


<!-- <br><br>
 <pre>{{networkSettings | json}}</pre> -->