<nb-card style="width: 400px;">
    <nb-card-header>
        <div class="text">
            {{title}}
        </div>

    </nb-card-header>

    <nb-card-body>
        {{message}}
    </nb-card-body>

    <nb-card-footer>
        <button nbButton
                hero
                status="default"
                (click)="cancel()">Abbrechen</button>
        <button nbButton
                hero
                status="success"
                (click)="submit()">Ok</button>
    </nb-card-footer>
</nb-card>