ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=DE

#nervboxtemplate_start_wifi_credentials
#network={
#  ssid="{SSID}"
#  psk="{PSK}"
#}
#nervboxtemplate_end_wifi_credentials

#nervboxtemplate_target=/etc/wpa_supplicant/wpa_supplicant.conf
