<nb-auth-block>
    <h2 class="title">Login</h2>
    <small class="form-text sub-title">Bitte melden Sie sich mit Ihrem Benutzernamen an</small>

    <form (ngSubmit)="login()"
          #form="ngForm"
          autocomplete="nope">

        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted"
                  outline="danger">
            <div><strong>Failed!</strong></div>
            <div *ngFor="let error of errors">{{ error }}</div>
        </nb-alert>

        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted"
                  outline="success">
            <div><strong>Anmeldung erfolgreich!</strong></div>
            <!-- <div *ngFor="let message of messages">{{ message }}</div> -->
        </nb-alert>

        <div class="form-group">

            <label for="input-username"
                   class="sr-only">Benutzername</label>
            <input nbInput
                   [(ngModel)]="user.username"
                   #username="ngModel"
                   name="username"
                   id="input-username"
                   placeholder="Benutzername"
                   autofocus
                   fullWidth
                   [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : ''"
                   [required]="getConfigValue('forms.validation.email.required')">
            <small class="form-text error"
                   *ngIf="username.invalid && username.touched && username.hasError('required')">
                Benutzername wird benötigt!
            </small>
            <small class="form-text error"
                   *ngIf="username.invalid && username.touched && username.hasError('pattern')">
                Username should be the real one!
            </small>
        </div>

        <div class="form-group">
            <label for="input-password"
                   class="sr-only">Passwort</label>
            <input nbInput
                   [(ngModel)]="user.password"
                   #password="ngModel"
                   name="password"
                   type="password"
                   id="input-password"
                   placeholder="Passwort"
                   fullWidth
                   [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
                   [required]="getConfigValue('forms.validation.password.required')"
                   [minlength]="getConfigValue('forms.validation.password.minLength')"
                   [maxlength]="getConfigValue('forms.validation.password.maxLength')">
            <small class="form-text error"
                   *ngIf="password.invalid && password.touched && password.hasError('required')">
                Passwort wird benötigt!
            </small>
            <small class="form-text error"
                   *ngIf="password.invalid && password.touched && (password?.errors.minlength || password.hasError('maxlength'))">
                Password should contains
                from {{ getConfigValue('forms.validation.password.minLength') }}
                to {{ getConfigValue('forms.validation.password.maxLength') }}
                characters
            </small>
        </div>

        <div class="form-group accept-group col-sm-12">
            <!--<nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Remember me</nb-checkbox>-->
            <!-- <a class="forgot-password" routerLink="../request-password">Forgot Password?</a> -->
        </div>

        <button nbButton
                status="success"
                fullWidth
                [disabled]="submitted || !form.valid"
                [class.btn-pulse]="submitted">
            Anmelden
        </button>
    </form>

    <section class="another-action"
             aria-label="Register">
        Don't have an account? <a class="text-link"
           routerLink="../register">Register</a>
    </section>


    <div *ngIf="delta && delta.abs > 30">

        <br><br><br>

        <nb-alert [closable]="false"
                  status="warning">

            <div class="alert-content">
                <div class="icon">
                    <i class="fas fa-exclamation-circle fa-2x"></i>
                </div>
                <div class="message">
                    <span class="header">Achtung</span><br><span class="text"> Das Datum des PI-Systems weicht von Ihrem Browserdatum um {{delta.unix}} Sekunden ab.</span>

                    &nbsp;<button nbButton
                            size="tiny"
                            (click)="fixDate()">Jetzt korrigieren</button>
                </div>
            </div>

        </nb-alert>

        <!--
        Raspi:<br>
        <pre> {{datesRaspian | json}} </pre>

        Browser:<br>
        <pre> {{datesBrowser | json}} </pre>

        Delta:<br>
        <pre> {{delta | json}} </pre>
        -->
    </div>

</nb-auth-block>