<h3>Benutzereinstellungen</h3>

<form [formGroup]="userSettingsForm"
      class="form user-settings-component"
      (ngSubmit)="saveAndApplyUserSettings()">

    <br><br>

    <div class="row no-margins">

        <!--Lan Options-->
        <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-12">

            <h4>Kennwort</h4>
            <hr>

            <div class="form-group">
                <label for="old_password">Altes Kennwort</label>
                <input type="password"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"
                       placeholder="Altes Kennwort"
                       formControlName="oldPassword">
                <div *ngIf="submitted && f['oldPassword'].errors"
                     class="invalid-feedback">
                    <div *ngIf="f['oldPassword'].errors.required">Altes Kennwort wird benötigt</div>
                </div>
            </div>

            <div class="form-group">
                <label for="new_password1">Neues Kennwort</label>
                <input type="password"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.newPassword1.errors }"
                       placeholder="Neues Kennwort"
                       formControlName="newPassword1">
                <div *ngIf="submitted && f['newPassword1'].errors"
                     class="invalid-feedback">
                    <div *ngIf="f['newPassword1'].errors.required">Neues Kennwort wird benötigt</div>
                </div>
            </div>

            <div class="form-group">
                <label for="new_password1">Neues Kennwort (Wiederholung)</label>
                <input type="password"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.newPassword2.errors }"
                       placeholder="Neues Kennwort (Widerholung)"
                       formControlName="newPassword2">
                <div *ngIf="submitted && f['newPassword2'].errors"
                     class="invalid-feedback">
                    <div *ngIf="f['newPassword2'].errors.required">Neues Kennwort wird benötigt</div>
                    <div *ngIf="f['newPassword2'].errors.mustMatch">Kennwörter müssen übereinstimmen</div>
                </div>
            </div>


        </div>
    </div>

    <!-- Save Button -->
    <div class="row no-margins">
        <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">

            <button type="submit"
                    class="btn btn-primary">Speichern & Anwenden </button>
        </div>
    </div>

    <div class="row no-margins">
        <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
            <div class="invalid-feedback">{{error}}</div>
        </div>
    </div>

</form>