<div class="row">
    
    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">    
        <play-sounds></play-sounds>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">    
        <nervbox-temperature></nervbox-temperature>
    </div>
</div>

<div class="row">
    <div class="col-xxxl-3 col-md-">
        <status-widget title="Datenaufzeichnung"
                       type="success">
            <i class="ion-ios-recording"></i>
        </status-widget>
    </div>

    <div class="col-xxxl-3 col-md-6">
        <!-- <status-widget title="Reinigung"
                       type="warning"  message="Reinigungszähler zurücksetzen">
            <i class="ion-waterdrop"></i>
        </status-widget> -->
    </div>

</div>