@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    .cleaning {
        cursor: pointer;
    }



    @include media-breakpoint-down(is) {
        ::ng-deep nb-card.large-card {
            height: nb-theme(card-height-medium);
        }
    }

    ::ng-deep nb-card-header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background: linear-gradient(to right, rgba(83, 87, 92, 1) 0%, rgba(60, 63, 66, 1) 100%);
    }

    ::ng-deep nb-card-body {
        background-color: #EAF0F4;
        
    }

    .wind-animation {
        animation-name: wind-anim-keyframe;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 0ms;
        animation-timing-function: linear;
    }

    @keyframes wind-anim-keyframe {
        from {
            padding-left: -10px;
        }

        to {
            padding-left: 10px;
        }
    }

    .emergency-button {

        img.emergency-button {

            width: 65px;

            &.emergency-button-animation {
                animation-name: rotate-emergency-button;
                animation-duration: 2.0s;
                animation-iteration-count: infinite;
                animation-delay: 0ms;
                animation-timing-function: linear;
            }
        }
    }

    @keyframes rotate-emergency-button {
        from {
            transform: rotate(0deg)
        }

        to {
            transform: rotate(360deg)
        }
    }


    .led-wrapper {

        display: grid;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .led {
            height: 5rem;
            width: 5rem;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            border: 5px solid #ccc;

            //animation-name: ; //is set by angular
            animation-duration: 1.0s;
            animation-iteration-count: infinite;
            animation-delay: 0ms;
            animation-timing-function: ease-in-out;

            .text {
                position: relative;
                float: left;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.6em;
                font-weight: bold;
            }
        }
    }

    @keyframes blink-Green-Off {
        0% {
            background-color: #0f0;
        }

        50% {
            background-color: #777;
        }

        100% {
            background-color: #0f0;
        }
    }

    @keyframes blink-Green-Red {
        0% {
            background-color: #0f0;
        }

        50% {
            background-color: #f00;
        }

        100% {
            background-color: #0f0;
        }
    }

    @keyframes blink-Green-White {
        0% {
            background-color: #0f0;
        }

        50% {
            background-color: #fff;
        }

        100% {
            background-color: #0f0;
        }
    }

    @keyframes blink-White-White {
        0% {
            background-color: #fff;
        }

        50% {
            background-color: #fff;
        }

        100% {
            background-color: #fff;
        }
    }    

    @keyframes blink-Green-Blue {
        0% {
            background-color: #0f0;
        }

        50% {
            background-color: #00f;
        }

        100% {
            background-color: #0f0;
        }
    }

    @keyframes blink-Green-Green {
        0% {
            background-color: #0f0;
        }

        50% {
            background-color: #0f0;
        }

        100% {
            background-color: #0f0;
        }
    }

    @keyframes blink-Red-Blue {
        0% {
            background-color: #f00;
        }

        50% {
            background-color: #00f;
        }

        100% {
            background-color: #f00;
        }
    }

    @keyframes blink-Red-Off {
        0% {
            background-color: #f00;
        }

        50% {
            background-color: #777;
        }

        100% {
            background-color: #f00;
        }
    }

    @keyframes blink-Off-Off {
        0% {
            background-color: #777;
        }

        50% {
            background-color: #777;
        }

        100% {
            background-color: #777;
        }
    }

    @keyframes blink-Yellow-Yellow {
        0% {
            background-color: #FFA500;
        }

        50% {
            background-color: #FFA500;
        }

        100% {
            background-color: #FFA500;
        }
    }

    @keyframes blink-Blue-Blue {
        0% {
            background-color: #00f;
        }

        50% {
            background-color: #00f;
        }

        100% {
            background-color: #00f;
        }
    }

}