<alert></alert>

<div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12">
        <play-sounds></play-sounds>
    </div>

    <div class="col-xl-4 col-lg-12 col-md-12">
            <nervbox-simple-chart-wrapper></nervbox-simple-chart-wrapper>
    </div>

</div>

<div class="row">

    <div class="col-xl-3 col-lg-5 col-md-6">
        <nervbox-statistics [mode]="0"></nervbox-statistics>
    </div>

    <div class="col-xl-5 col-lg-7 col-md-6">
        <nervbox-statistics [mode]="1"></nervbox-statistics>
    </div>
</div>