<nb-card size="large">
    <nb-card-header>
        <!--
        <div class="header-stats" style="display: inline-block;">
            <div class="stats-block">
                <div>
                    <div class="dropdown"
                         [ngClass]="{ 'ghost-dropdown': currentTheme === 'nervbox' }"
                         ngbDropdown>
                        <button type="button"
                                ngbDropdownToggle
                                disabled="true"
                                class="btn"
                                [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                            {{ currentStatisticsType.displayName }} &nbsp;
                        </button>
                        <ul class="dropdown-menu"
                            ngbDropdownMenu>
                            <li class="dropdown-item"
                                *ngFor="let s of statisticTypes"
                                (click)="showStatistics(s)">{{ s.displayName }} </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        -->

        <h5 *ngIf="currentStatisticsType.statisticsType === 'TOPUSER'" style="display: inline-block; margin-left: 10px;">Total sounds triggered by IP (TOP 10)</h5>
        <h5 *ngIf="currentStatisticsType.statisticsType === 'TOPSOUND'" style="display: inline-block; margin-left: 10px;">Sounds triggered total (TOP 25)</h5>

    </nb-card-header>

    <nb-card-body *ngIf="currentStatisticsType.statisticsType === 'TOPUSER'">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary top-user-item"
                *ngFor="let s of this.topUsers"><span class="badge badge-primary count">{{s.count}}</span> <span class="name"> {{ s.name }}</span> </li>
        </ul>
    </nb-card-body>

    <nb-card-body *ngIf="currentStatisticsType.statisticsType === 'TOPSOUND'">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary top-sound-item"
                *ngFor="let s of this.topSounds"
                (click)="playSound(s.hash)"><span class="badge badge-primary count">{{s.count}}</span> <span class="name">{{ s.name }}</span> </li>
        </ul>
    </nb-card-body>

</nb-card>