<nb-card size="large">
    <div class="chart-container">
        <div class="chart-header">
            <div class="header-stats">
                <div class="stats-block">
                    <!-- <div class="subtitle">Temperature</div> -->
                    <div>
                        <!-- <span class="value">AVG</span> -->

                        <div class="dropdown"
                             [ngClass]="{ 'ghost-dropdown': currentTheme === 'nervbox' }"
                             ngbDropdown>
                            <button type="button"
                                    ngbDropdownToggle
                                    class="btn"
                                    [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                                {{ valueMode.displayName }} &nbsp;
                            </button>
                            <ul class="dropdown-menu"
                                ngbDropdownMenu>
                                <li class="dropdown-item"
                                    *ngFor="let v of valueModes"
                                    (click)="valueMode = v">{{ v.displayName }} </li>
                            </ul>
                        </div>

                        <!-- <span class="unit"> °C</span> -->
                    </div>
                </div>

            </div>
            <div class="dropdown"
                 [ngClass]="{ 'ghost-dropdown': currentTheme === 'nervbox' }"
                 ngbDropdown>
                <button type="button"
                        ngbDropdownToggle
                        class="btn"
                        [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                    {{ mode }}
                </button>
                <ul class="dropdown-menu"
                    ngbDropdownMenu>
                    <li class="dropdown-item"
                        *ngFor="let m of modes"
                        (click)="mode = m">{{ m }}</li>
                </ul>
            </div>
        </div>
        <temperature-chart [mode]="mode"
                           [valueMode]="valueMode"></temperature-chart>
    </div>
</nb-card>